.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #282c34;
}
.random-user {
  background-color: rgba(255, 255, 255, 0.938);
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 30px 30px 0px;
  margin-top: 80px;
}
.random-user img {
  border-radius: 50%;
  border: 1px solid rgba(177, 169, 169, 0.521);
  padding: 5px;
}
span {
  display: block;
}
ul li {
  list-style: none;
}
ul {
  display: flex;
  justify-content: space-around;
}
.info span:first-child {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.info span:last-child {
  font-size: 25px;
  margin-bottom: 30px;
}
svg {
  font-size: 30px;
  color: #617d98;
  transition: all 0.2s ease-in-out;
}
svg:hover {
  color: rgba(76, 76, 230, 0.555);
}
.random-user button {
  border: 1px solid rgba(76, 76, 230, 0.555);
  background-color: rgba(76, 76, 230, 0.555);
  transition: all 0.2s ease-in-out;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.random-user button:hover {
  background-color: transparent;
  color: black;
}
